In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Downloads/All_Places_of_Worship.csv')

In [3]:
df.shape

(49328, 39)

In [4]:
#dropping NaNs, note: 'attendance', 'members', also very high NaNs and '0' encoding as NaN

df.isna().sum()
df = df.drop(['TELEPHONE', 'ZIPP4', 'GEOLINKID', 'PHONELOC', 'EMERGEXT', 'MEMBERS', 'ATTENDANCE'], axis=1)

In [5]:
df = df.dropna()

In [25]:
df['SUBTYPE'].value_counts()

CHRISTIAN    42694
JUDAIC        3256
BUDDHIST      1711
MUSLIM        1254
HINDU          282
OTHER          128
Name: SUBTYPE, dtype: int64

In [6]:
pd.set_option('display.max_columns', None)
df.head(2)

,OBJECTID,ID,NAME,ADDRESS,ADDRESS2,CITY,STATE,ZIP,COUNTY,FIPS,DIRECTIONS,EMERGTITLE,EMERGTEL,CONTDATE,CONTHOW,GEODATE,GEOHOW,HSIPTHEMES,NAICSCODE,NAICSDESCR,X,Y,ST_VENDOR,ST_VERSION,GEOPREC,QC_QA,STATE_ID,SUBTYPE,DENOM,LOC_TYPE,PROT,CATH
0,1001,10438385.0,FREMONT PRESBYTERIAN CHURCH,5770 CARLSON DRIVE,NOT AVAILABLE,SACRAMENTO,CA,95819,SACRAMENTO,6067,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,2007-10-10T00:00:00.000Z,ALT REF,2007-10-10T00:00:00.000Z,MANUAL,HIGH VALUE OR SYMBOLIC TARGETS; PUBLIC VENUES;...,813110,CHURCHES,-121.429885,38.567942,NAVTEQ,2006Q4,ONENTITY,TGS,NOT AVAILABLE,CHRISTIAN,PCUSA,NOT AVAILABLE,Y,N
1,1002,10438397.0,LAFAYETTE - ORINDA PRESBYTERIAN CHURCH,49 KNOX DRIVE,NOT AVAILABLE,LAFAYETTE,CA,94549,CONTRA COSTA,6013,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,2007-10-10T00:00:00.000Z,ALT REF,2007-10-10T00:00:00.000Z,MANUAL,HIGH VALUE OR SYMBOLIC TARGETS; PUBLIC VENUES;...,813110,CHURCHES,-122.158534,37.887245,NAVTEQ,2006Q4,ONENTITY,TGS,NOT AVAILABLE,CHRISTIAN,PCUSA,NOT AVAILABLE,Y,N

In [7]:
df['NAME'].value_counts().head(20)

FIRST BAPTIST CHURCH                              1750
CALVARY BAPTIST CHURCH                             478
BETHEL AFRICAN METHODIST EPISCOPAL CHURCH          317
FAITH BAPTIST CHURCH                               309
BIBLE BAPTIST CHURCH                               295
GRACE BAPTIST CHURCH                               277
VICTORY BAPTIST CHURCH                             200
SAINT PAUL AFRICAN METHODIST EPISCOPAL CHURCH      180
CENTRAL BAPTIST CHURCH                             166
BETHEL BAPTIST CHURCH                              156
LIGHTHOUSE BAPTIST CHURCH                          141
SAINT JAMES AFRICAN METHODIST EPISCOPAL CHURCH     137
TRINITY BAPTIST CHURCH                             133
SECOND BAPTIST CHURCH                              125
LIBERTY BAPTIST CHURCH                             120
EMMANUEL BAPTIST CHURCH                            120
FIRST PRESBYTERIAN CHURCH                          114
MOUNT ZION BAPTIST CHURCH                          103
SAINT JOHN AFRICAN METHODIST EPISCOPAL CHURCH      102
MOUNT ZION AFRICAN METHODIST EPISCOPAL CHURCH      101
Name: NAME, dtype: int64

In [8]:
df.describe()

,OBJECTID,ID,ZIP,FIPS,NAICSCODE,X,Y
count,49325.000000,4.932500e+04,49325.000000,49325.000000,49325.0,49325.000000,49325.000000
mean,24663.000000,1.051675e+07,47101.365616,28747.855631,813110.0,-89.597361,37.446067
std,14239.045351,1.136604e+05,27922.408690,15979.587002,0.0,15.000868,4.987367
min,1.000000,1.042610e+07,601.000000,1001.000000,813110.0,-170.731937,-14.337511
25%,12332.000000,1.043985e+07,27107.000000,13215.000000,813110.0,-95.600180,33.826853
50%,24663.000000,1.045664e+07,42066.000000,29095.000000,813110.0,-85.645196,38.177910
75%,36994.000000,1.058250e+07,72450.000000,42069.000000,813110.0,-79.849351,40.929102
max,49325.000000,1.154927e+07,99929.000000,78030.000000,813110.0,144.812211,71.303071

In [9]:
df.describe(exclude=[np.number])

,NAME,ADDRESS,ADDRESS2,CITY,STATE,COUNTY,DIRECTIONS,EMERGTITLE,EMERGTEL,CONTDATE,CONTHOW,GEODATE,GEOHOW,HSIPTHEMES,NAICSDESCR,ST_VENDOR,ST_VERSION,GEOPREC,QC_QA,STATE_ID,SUBTYPE,DENOM,LOC_TYPE,PROT,CATH
count,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325,49325
unique,27912,47372,1489,7444,55,1647,2762,4,5,289,2,304,2,1,9,4,4,2,1,180,6,702,9,2,2
top,FIRST BAPTIST CHURCH,MAIN STREET,NOT AVAILABLE,CHICAGO,CA,LOS ANGELES,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,2009-04-22T00:00:00.000Z,ALT REF,2008-09-05T00:00:00.000Z,MANUAL,HIGH VALUE OR SYMBOLIC TARGETS; PUBLIC VENUES;...,CHURCHES,NAVTEQ,2008Q1,ONENTITY,TGS,NOT AVAILABLE,CHRISTIAN,NOT AVAILABLE,NOT AVAILABLE,Y,N
freq,1750,16,47549,571,3513,1019,46534,49321,49321,535,46555,602,48723,49325,42654,49232,39446,41976,49325,49146,42694,10799,47951,35821,42446

In [10]:
features = ['SUBTYPE', 'PROT', 'CATH', 'HSIPTHEMES', 'NAICSDESCR', 'DENOM', 'LOC_TYPE'] 
target = ['NAME']

In [11]:
X = df[features]
y = df[target]

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [13]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((24662, 7), (24663, 7), (24662, 1), (24663, 1))

In [14]:
from category_encoders.ordinal import OrdinalEncoder

In [15]:
encoder = OrdinalEncoder()
X_train = encoder.fit_transform(X)
X_test = encoder.fit_transform(X)

In [16]:
encoder = OrdinalEncoder()
y_train = encoder.fit_transform(y)
y_test = encoder.fit_transform(y)

In [17]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import cross_val_score

In [18]:
model = DecisionTreeClassifier(random_state=42)

model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [19]:
model.score(X_train, y_test)

0.07191079574252407

In [20]:
df['PRED'] = model.predict(X_train)

<bound method Series.unique of 0           82
1           82
2           82
3         4654
4          533
5         4654
6          101
7          101
8          533
9          533
10         533
11         533
12         533
13         533
14         533
15         533
16         533
17         533
18         533
19        1209
20         414
21         533
22         533
23         533
24         533
25         533
26         533
27         533
28         533
29         533
         ...
49298      101
49299      101
49300      101
49301      101
49302      101
49303       82
49304      134
49305       82
49306       82
49307      134
49308      134
49309       82
49310      134
49311      207
49312       82
49313      134
49314      101
49315      134
49316       82
49317      134
49318       82
49319      554
49320      134
49321      134
49322      134
49323    27911
49324      134
49325     5944
49326      134
49327      414
Name: PRED, Length: 49325, dtype: int64>

In [22]:
importances = pd.DataFrame(model.feature_importances_)

In [23]:
pd.Series(model.feature_importances_, X_train.columns)

SUBTYPE       0.011900
PROT          0.001048
CATH          0.004595
HSIPTHEMES    0.000000
NAICSDESCR    0.048803
DENOM         0.917117
LOC_TYPE      0.016537
dtype: float64

In [51]:
target_filter = df[y.isin(df['PRED'])]

In [52]:
target_filter.shape

(49325, 33)